body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

#hint {
    color: red;
    font-weight:bold
}

#pic1 {
    position: absolute;
    top: 50px;
    right:10px;
   
}

#pic2 {
  position: absolute;
  top: 50px;
  right:210px;
}

#pic3 {
  position: absolute;
  top: 330px;
  right:10px;
}

#pic4 {
  position: absolute;
  top: 330px;
  right:210px;
}

#weichen {
    text-align: center;
}

#date {
    padding-left:100px;
}

#second {
    padding-left:150px;
}

#third {
    padding-left:150px;
}

#award {
    padding-left:10px;
}

#bold {
    font-weight: bold;
}

#italic {
    font-style: italic;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

/*programming language*/

/* 3 year */
#java {
  width: 60%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center;
}

/* 3 year */
#js {
  width: 60%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* 0.5 year */
#ts {
  width: 10%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* 0.5 year */
#py {
  width: 10%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* 0.5 year */
#r {
  width: 10%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* 0.5 year */
#php {
  width: 10%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* 0.5 year */
#perl {
  width: 10%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* 2 year */
#c {
  width: 40%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* 0.5 year */
#cxx {
  width: 10%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* 0.5 year */
#csharp {
  width: 10%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* beginner */
#kotlin {
  width: 5%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* beginner */
#swift {
  width: 5%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/* beginner */
#oc {
  width: 5%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center
}

/*database*/
/* 2 years */
#mysql {
  width: 40%;
  height: 20px;
  background-color: #9ACD32;
  text-align: center
}

/* 0.5 years */
#mongodb {
  width: 10%;
  height: 20px;
  background-color: #9ACD32;
  text-align: center
}

/* 1 years */
#oracle {
  width: 20%;
  height: 20px;
  background-color: #9ACD32;
  text-align: center
}

/* 1 years */
#sqlite {
  width: 20%;
  height: 20px;
  background-color: #9ACD32;
  text-align: center
}

/* 0.5 years */
#redis {
  width: 10%;
  height: 20px;
  background-color: #9ACD32;
  text-align: center
}

/*web development*/
/* 4 years */
#html {
  width: 80%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* 2 years */
#css {
  width: 40%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* 1 years */
#bootstrap {
  width: 20%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* 0.5 years */
#ajax {
  width: 10%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* 0.5 years */
#react {
  width: 10%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* 0.5 years */
#jquery {
  width: 10%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* beginner */
#angular {
  width: 5%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* 0.5 years */
#restful {
  width: 10%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* 0.5 years */
#googlemap {
  width: 10%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* beginner */
#gulp {
  width: 5%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* beginner */
#sass {
  width: 5%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/* beginner */
#socket {
  width: 5%;
  height: 20px;
  background-color: #008080;
  text-align: center
}

/*server and frameworks*/
/* 2 years */
#apache {
  width: 40%;
  height: 20px;
  background-color: #D2691E;
  text-align: center
}

/* 0.5 years */
#express {
  width: 10%;
  height: 20px;
  background-color: #D2691E;
  text-align: center
}

/* beginner */
#laravel {
  width: 5%;
  height: 20px;
  background-color: #D2691E;
  text-align: center
}

/* beginner */
#django {
  width: 5%;
  height: 20px;
  background-color: #D2691E;
  text-align: center
}

/* beginner */
#flask {
  width: 5%;
  height: 20px;
  background-color: #D2691E;
  text-align: center
}

/*android development*/
/* 2 years */
#android_studio {
  width: 40%;
  height: 20px;
  background-color: #F4A460;
  text-align: center
}

/* 2 years */
#gradle {
  width: 40%;
  height: 20px;
  background-color: #F4A460;
  text-align: center
}

/*system*/
/* 0.5 years */
#mac {
  width: 10%;
  height: 20px;
  background-color: #FFDEAD;
  text-align: center
}

/* 2 years */
#linux {
  width: 40%;
  height: 20px;
  background-color: #FFDEAD;
  text-align: center
}

/* 6 years */
#windows {
  width: 120%;
  height: 20px;
  background-color: #FFDEAD;
  text-align: center
}


/*Some other IDE/text editor I like*/
/* 1 years */
#vscode {
  width: 20%;
  height: 20px;
  background-color: #A0522D;
  text-align: center
}

/* 1 years */
#sublime {
  width: 20%;
  height: 20px;
  background-color: #A0522D;
  text-align: center
}

/* 0.5 years */
#pycharm {
  width: 10%;
  height: 20px;
  background-color: #A0522D;
  text-align: center
}

/* Beginner */
#xcode {
  width: 5%;
  height: 20px;
  background-color: #A0522D;
  text-align: center
}

/*java development*/
/* 3 years */
#eclipse {
  width: 60%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* 0.5 years */
#tomcat {
  width: 10%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* 0.5 years */
#jdbc {
  width: 10%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* 1 years */
#jspservlet {
  width: 20%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* 1 years */
#spring {
  width: 10%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* 0.5 years */
#javafx {
  width: 10%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}


/*big data*/
/* 0.5 years */
#hadoop {
  width: 10%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* 0.5 years */
#hdfs {
  width: 10%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* Beginner */
#mapreduce {
  width: 5%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* Beginner */
#zookeeper {
  width: 5%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* Beginner */
#spark {
  width: 5%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* Beginner */
#hbase {
  width: 5%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}

/* Beginner */
#hive {
  width: 5%;
  height: 20px;
  background-color: #B22222;
  text-align: center
}







/*th {*/
/*    text-align: left;*/
/*}*/